body
{
    background-color: lightblue;
    font-family: serif;
    font-size: 20;
}

h1
{
    text-align: center;
}

button
{
    background-color: darkred;
    text-align: center;
    color: white;
}